{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<form method="get" action="">
    {% csrf_token %}
    {{ form.filter_option }}
    <button type="submit">Show comments</button>
</form>
{% if comments %}
    {% for comment in comments %}
        <ul class="comment">
            <strong>{{ comment.article.title }}</strong>
            <br>
            <i>{{ comment.author }}</i> ({{ comment.created_at }})
            <br>
            <p>{{ comment.content }}</p>
        </ul>
    {% endfor %}
{% else %}
    <p>No comments found.</p>
{% endif %}



{% endblock %}