{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">
{% endblock %}
<script src="{% static 'comments_toggle.js' %}"></script>

<!--
    <form method="get" action="{% url 'create_article' %}">
        <button type="submit">New Article</button>
    </form>
-->
{% for article in object_list %}

    {% if article.priority %}
    <div class="card text-center bg-info" style="width: 70rem; background-color:rgba(232,184,184,0.70)!important;">
    {% else %}
    <div class="card text-center bg-light" style="width: 70rem; background-color:rgba(113,144,182,0.70)!important;">
    {% endif %}
      <div class="card-header" style="text-align: left;">
        <strong>{{ article.author }}</strong> ({{ article.created_at }})
      </div>
      {% if article.priority %}
      <div class="card-body" style="background-color:rgba(234,217,217,0.95)!important;">
      {% else %}
      <div class="card-body" style="background-color:rgba(193,213,245,0.95)!important;">
      {% endif %}
        <h5 class="card-title">{{ article.title }}</h5>
          <hr>
        <p class="card-text">{{ article.content }}</p>
        <a href="{{ article.id }}/" class="btn btn-primary">Go to the article</a>
      </div>
        <div class="card-footer">
            Comments: {{ article.comment_set.count}}
            {% if article.comment_set.count != 0 %}
                <hr>
                    {% if article.priority %}
                    <p class="comment" style="background-color:rgba(241,237,237,0.7)!important;text-align: left">
                    {% else %}
                    <p class="comment" style="background-color:rgba(193,213,245,0.7)!important;text-align: left">
                    {% endif %}
                        {% for comment in comments %}
                            {% if comment.article == article %}
                                <b>{{ comment.author }}</b> ({{ comment.created_at }})
                                <br>
                                {{ comment.content }}
                            {% endif %}
                        {% endfor %}
                    </p>
            {% endif %}
        </div>
    </div>



{#    {% if article.priority %}#}
{#        <div class="article-content priority" onclick="window.location.href='{{ article.id }}/'">#}
{#    {% else %}#}
{#        <div class="article-content card" onclick="window.location.href='{{ article.id }}/'">#}
{#    {% endif %}#}
{#        <div class="card-body">#}
{#            <span class="comment-meta"><strong>{{ article.author }}</strong> ({{ article.created_at }})<br>#}
{#                {% if article.priority %}#}
{#                    <span class="article-title text-danger"><b>{{ article.title|upper }}</b></span>#}
{#                {% else %}#}
{#                    <span class="article-title">{{ article.title }}</span>#}
{#                {% endif %}#}
{#            </span>#}
{#            ({{ article.id }})#}
{#            <hr>#}
{#            <p class="card-text">{{ article.content }}</p>#}
{#            <strong class="mt-3">Comments ({{ article.comment_set.count }}):</strong>#}
{#            {% if article.comment_set.count != 0 %}#}
{#                <p><i>Last comment:</i> <br>#}
{#                    {% for comment in comments %}#}
{#                        {% if comment.article == article %}#}
{#                            <ul class="comment">#}
{#                                <li>#}
{#                                    <strong>{{ comment.author }}</strong> ({{ comment.created_at }})#}
{#                                    <hr>#}
{#                                    {{ comment.content }}#}
{#                                </li>#}
{#                            </ul>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </p>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{% endfor %}

{% endblock %}
