{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">
{% endblock %}
<script src="{% static 'comments_toggle.js' %}"></script>
<!--
    <form method="get" action="{% url 'create_article' %}">
        <button type="submit">New Article</button>
    </form>
-->
<br>
<div class="d-grid gap-2 col-2 mx-auto">
    <a href="{% url 'article-list' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Back to Home</a>
</div>
<br>
{% if article %}

    {% if article.priority %}
    <div class="card text-center bg-info" style="width: 70rem; background-color: rgba(232,184,184,0.5)!important;" >
      <div class="card-header" style="background-color:rgba(232,184,184,0.70)!important;text-align: left;">
        <strong>{{ article.author }}</strong> ({{ article.created_at }})
      </div>
      <div class="card-body" style="background-color:rgba(234,217,217,0.9)!important;">
    {% else %}
    <div class="card text-center bg-light" style="width: 70rem; background-color:rgba(113,144,182,0.5)!important;">
      <div class="card-header" style="background-color:rgba(113,144,182,0.70)!important;text-align: left;">
        <strong>{{ article.author }}</strong> ({{ article.created_at }})
      </div>
      <div class="card-body" style="background-color:rgba(193,213,245,0.9)!important;">
    {% endif %}
        <h5 class="card-title">{{ article.title }}</h5>
          <hr>
        <p class="card-text">{{ article.content }}</p>
      </div>
        <div class="card-footer align-left">
            {% if user.is_authenticated %}
                <br>
                <form method="post" action="{% url 'add_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="article_id" value="{{ article.id }}">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1 author" class="form-label">Your name: <b>{{ user.username }}</b></label>
                      <input type="hidden" name="author" class="form-control" id="exampleFormControlInput1" value="{{ user.username }}">
                    </div>
                    <div class="mb-3">
                      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            {% endif %}
            <br>
            <h5 style="text-align: left; margin: auto; padding: 10px;"> All comments: {{ article.comment_set.count}}</h5>


            <div class="card-body comments comment" style="background-color:rgba(113,144,182,0.1)!important;">
                {% if article.comment_set.count != 0 %}
                        <p style="background-color:rgba(234,217,217,0.95)!important;">
                            {% for comment in comments %}
                                {% if comment.article == article %}
                                    <div class="card text-center bg-info comment" style="background-color: rgba(189,209,224,0.3)!important;" >
                                        <div class="card-header" style="background-color:rgba(126,225,94,0.95)!important;text-align: left">
                                            <strong>{{ article.author }}</strong> ({{ article.created_at }})
                                            {% if user.is_authenticated and user.is_staff %}
                                                <a href="{% url 'delete_comment' comment_id=comment.id %}">[Delete]</a>
                                            {% endif %}
                                        </div>
                                        <div class="card-footer align-left" style="background-color:rgba(175,232,156,0.95)!important; text-align: left">
                                            {{ comment.content }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </p>
                {% endif %}
            </div>






{#            {% if article.comment_set.count != 0 %}#}
{#                <p><button class="showCommentsButton btn btn-primary" data-article-id="{{ article.id }}">Show Comments</button></p>#}
{#            {% endif %}#}
{#            <div class="card-body comments comment" style="background-color:rgba(113,144,182,0.95)!important; display: none">#}
{#                {% if article.comment_set.count != 0 %}#}
{#                    <hr>#}
{#                        <p style="background-color:rgba(234,217,217,0.95)!important;">#}
{#                            {% for comment in comments %}#}
{#                                {% if comment.article == article %}#}
{#                                    <ul class="comment" style="display: none;">#}
{#                                        {% if user.is_authenticated and user.is_staff %}#}
{#                                            <p><a href="{% url 'delete_comment' comment_id=comment.id %}">Delete Comment</a></p>#}
{#                                        {% endif %}#}
{#                                        <strong>{{ comment.author }}</strong> ({{ comment.created_at }})#}
{#                                        <hr>#}
{#                                        {{ comment.content }}#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </p>#}
{#                {% endif %}#}
{#            </div>#}
        </div>

    </div>

{% endif %}


{% endblock %}