{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'comments_toggle.js' %}"></script>
<!--
    <form method="get" action="{% url 'create_article' %}">
        <button type="submit">New Article</button>
    </form>
-->
<br>
{% for article in object_list %}
    {% if article.priority %}
        <div class="article-content priority" onclick="window.location.href='{{ article.id }}/'">
    {% else %}
        <div class="article-content" onclick="window.location.href='{{ article.id }}/'">
    {% endif %}
        <span class="comment-meta"><strong>{{ article.author }}</strong> ({{ article.created_at }})<br>
            {% if article.priority %}
                <span class="article-title" style="color: red;"><b>{{ article.title|upper }}</b></span>
            {% else %}
                <span class="article-title">{{ article.title }}</span>
            {% endif %}
        </span>
        ({{ article.id }})
        <hr>
        <p>{{ article.content }}</p>
        <h3>Comments ({{ article.comment_set.count }}):</h3>

        {% if article.comment_set.count != 0 %}
            <p><i>Last comment:</i> <br>
                {% for comment in comments %}
                    {% if comment.article == article %}
                        <ul class="comment">
                            <strong>{{ comment.author }}</strong> ({{ comment.created_at }})
                            <br>
                            {{ comment.content }}
                        </ul>
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        </div>
{% endfor %}


{% endblock %}